body{
    background: #202020;
    color: antiquewhite;/*cor do texto*/

}
    .log{
        background-color: #8B0000;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 30px;
        max-width: 750px;
        margin:200px auto;
        font-size: 16px;
    }
    .log h1{
        color:#fcbaba;
    }
    .log button {
        background-color:#4d0000 ;
        border: solid;
        color: antiquewhite;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
