/*
Main color
#444c76

Palette
#637cb3

#0c0c1b

#2b3763

#7b7b8c

#9ca3b2

#434c8c

#484e77

#848494

#5c5e74

#1c244c

Download*/



:root{
  --cor-texto:#0c0c1b;
  --cor_fundo_menu: ;
  --cor_hamburger: ; 
}
body
{
  margin: 0;
  padding: 0;
  
  background: #100F1F;
  color: var(--cor-texto);
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px; /*posicao cima/baixo*/
  left: 50px; /*lados*/
}

#menuToggle a
{
  text-decoration: none;
  color: #414A8B;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #414A8B;
}


#menuToggle input  /*esse é o botao que verifica se o menu está sendo ativado ou não*/
{
  display: block;
  width: 40px; /*posição do hamburger*/
  height: 32px;
  position: absolute; /*posição entre o hamburger e o butão*/
  top: -7px;
  left: -7px;
  
  cursor: pointer;/*estilo do mause na tela*/
  
  opacity: 0;
  z-index: 2; /* and place it over the hamburger *//*escolhe a posição do elemento*/
  
}

#menuToggle span /*menu hamburger*/
{
  display: block;
  width: 33px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  
  background: #414A8B;/*aqui é a cor do hamburger antes de abrir*/
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 2px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),/*(acho) transição do hamburger para o x*/
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),/*o segundon da virgura e a transição de cores*/
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*(pelo oq eu entendi tranforma as spans*/

#menuToggle input:checked ~ span
{
  opacity: 10;/*opcacidade do X*/
  transform: rotate(45deg) translate(-2px, -1px);/*rotaçãoposição do segunto traço do X*/
  background: #637cb3;/*cor do X*/
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);/*rotação do meio do hamburger*/
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);/*o outro lado do X*/
}

#menu
{
  position: sticky;
  width: 270px;/*espaço banco do menu*/
  margin: -100px 0 0 -50px; /*meio q a posição do menu*/
  padding: 50px; /*distancia da letra em relação a borda branca*/
  padding-top: 120px;
  
  background: #edeff0;/*cor do fundo do menu*/
  list-style-type: none; /*sem o mause*/ /*ultima nota de hj 12:18 dia 18/04*/
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
